<div ng-include="'fragments/admin/tips.html'"></div>

<span class="h1_azul maintitle"></span>

<!-- === MENUS AND CONTENTS == -->
<div id="main-content">
	<div id="accordion" class="big-accordion ui-accordion ui-widget ui-helper-reset ui-corner-all" role="tablist">		 
	</div>	
</div>

<!-- CONTENT DIALOG -->
<div id="dialog-form-content" class="dialog-form dynamic-dialog">
	<div id="progressbar"></div>
	<p class="validateTips"></p>
	
    <form id="editFormContent" enctype="multipart/form-data">
		<div id="tabs"></div>
		
		
		<input type="hidden" name="locales" id="h_locales" />   	
		<input type="hidden" name="fieldIds" id="h_fields" />
		<input type="hidden" name="contentIds" id="h_contents" />
		<input type="hidden" name="menuIds" id="h_menu_id" />
		<input type="hidden" name="uniqueId" id="h_uniqueId" />
		<input type="hidden" name="ftd" id="h_ftd" />
    </form>
</div>

<div id="dialog-confirm" class="dialog">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>{{ 'frontend.dialog.removeContent' | translate }}</p>
	<p class="validateTips" style="display: none"></p>
</div>

<!-- SPINNER -->
<div id="spinner"></div>

