<div ng-include="'fragments/admin/tips.html'"></div>

<!-- === MAIN APLICATION SECTION == -->
<div id="main">
	<table id="mobileApplications_list" class="mobileapps-grid"></table>
	<br/>
	<button id="addButton">ADD_APP</button>
</div>

<!-- === MENUS AND FIELDS SECTION == -->
<div id="menus">
	<a href="#" id="editApplications">{{ 'admin.label.apps' | translate }}</a> &gt; {{ 'admin.label.menu' | translate }}
	<br/><br/>	
	
	<div id="accordion" class="ui-accordion ui-widget ui-helper-reset ui-corner-all" role="tablist">		 
	</div>	
	
	<br/>
	<button id="addMenuButton">ADD_MENU</button>
</div>

<!-- CONFIRMATION DIALOG -->
<div id="dialog-confirm" class="dialog">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 10px 0;"></span>{{ 'admin.dialog.removeApp1' | translate }}<br/>
    <span class="ui-state-error" style="float: left; margin: 0 3px 20px 20px;">{{ 'admin.dialog.removeApp2' | translate }}</span></p>
</div>

<!-- MENU CONFIRMATION DIALOG -->
<div id="dialog-confirm-menu" class="dialog">
   	<p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>{{ 'admin.dialog.removeMenu' | translate }}</p>
</div>

<!-- FIELD CONFIRMATION DIALOG -->
<div id="dialog-confirm-field" class="dialog">
   	<p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>{{ 'admin.dialog.removeField' | translate }}</p>
</div>

<!-- EDIT APPLICATION DIALOG -->
<div id="dialog-form" class="dialog-form">
	<p class="validateTips"></p>
	
    <form id="editForm">
    <fieldset>
        <label for="restName">{{ 'admin.dialog.application.label.restName' | translate }}</label>
        <input type="text" name="restName" id="restName" maxlength="20" class="text ui-widget-content ui-corner-all" />
        <label for="name">{{ 'admin.dialog.application.label.name' | translate }}</label>
        <input type="text" name="name" id="name" maxlength="100" class="text ui-widget-content ui-corner-all" />
        <label for="description">{{ 'admin.dialog.application.label.description' | translate }}</label>        
        <textarea name="description" id="description" maxlength="500" class="ui-widget ui-widget-content ui-corner-all"></textarea>
        <label for="main_locale">{{ 'admin.dialog.application.label.mainLocale' | translate }}</label>
        <select name="mainLocale" id="main_locale">        	
        </select>
        <label for="supported_locales">{{ 'admin.dialog.application.label.supportedLocales' | translate }}</label>               
		<div class="scroll-pane">
		</div>   
		<select name="supported_locales" id="supported_locales">
			<option ng-repeat="locale in vm.supportedLocales" value="{{locale}}">{{ 'locales.' + locale | translate }} [{{locale}}]</option>
        </select>
        <button id="addLocale" style="float: right">ADD_LOCALE</button>
        
        <input type="hidden" name="supportedLocales" id="h_supported_locales" />	
        <input type="hidden" name="applicationId" id="mobileApplicationId" />
    </fieldset>
    </form>
</div>

<!-- EDIT MENU DIALOG -->
<div id="dialog-form-menu" class="dialog-form">
	<p class="validateTips"></p>
	
    <form id="editFormMenu">
    <fieldset>
        <label for="menuRestName">{{ 'admin.dialog.menu.label.restName' | translate }}</label>
        <input type="text" name="restName" id="menuRestName" maxlength="20" class="text ui-widget-content ui-corner-all" />
        <label for="menuName">{{ 'admin.dialog.application.label.name' | translate }}</label>
        <input type="text" name="name" id="menuName" maxlength="100" class="text ui-widget-content ui-corner-all" />
        <label for="menuDescription">{{ 'admin.dialog.application.label.description' | translate }}</label>
        <textarea name="description" id="menuDescription" maxlength="500" class="ui-widget ui-widget-content ui-corner-all"></textarea>    
        
        <input type="hidden" name="application" id="menuAppId"/>
        <input type="hidden" name="parentMenu" id="menuParentId"/>
        <input type="hidden" name="menuId" id="menuId"/>
        <input type="hidden" name="menuOrder" id="menuOrder"/>    
    </fieldset>
    </form>
</div>

<!-- EDIT FIELD DIALOG -->
<div id="dialog-form-field" class="dialog-form small-select">
	<p class="validateTips"></p>
	
    <form id="editFormField">
    <fieldset>
        <label for="fieldRestName">{{ 'admin.dialog.field.label.restName' | translate }}</label>
        <input type="text" name="restName" id="fieldRestName" maxlength="20" class="text ui-widget-content ui-corner-all" />
        <label for="fieldName">{{ 'admin.dialog.field.label.name' | translate }}</label>
        <input type="text" name="name" id="fieldName" maxlength="100" class="text ui-widget-content ui-corner-all" />
        <label for="fieldFrontpage" style="display: inline">{{ 'admin.dialog.field.label.frontpage' | translate }}</label>
        <input type="checkbox" name="frontpage_" id="fieldFrontpage" value="true" style="display: inline"></input>
        <label for="fieldLevel" style="margin: 10px 0 2px 0; display: block">{{ 'admin.dialog.field.label.level' | translate }}</label>
        <select name="level" id="fieldLevel"></select> 
        <label for="fieldType">{{ 'admin.dialog.type.label.type' | translate }}</label>
        <select name="type[typeId]" id="fieldType"></select>
        <label for="fieldDescription" style="margin: 10px 0 2px 0;">{{ 'admin.dialog.field.label.description' | translate }}</label>
        <textarea name="description" id="fieldDescription" maxlength="500" class="ui-widget ui-widget-content ui-corner-all"></textarea>    
        <label for="fieldExtras" style="margin: 10px 0 2px 0;">{{ 'admin.dialog.field.label.extras' | translate }}</label>
        <textarea name="extras" id="fieldExtras" maxlength="5000" class="ui-widget ui-widget-content ui-corner-all"></textarea>    
        
        <input type="hidden" name="menu" id="fieldMenuId"/>
        <input type="hidden" name="fieldId" id="fieldId"/>
        <input type="hidden" name="fieldOrder" id="fieldOrder"/>   
        <input type="hidden" name="frontpage" id="h_fieldFrontPage"/> 
    </fieldset>
    </form>
</div>


<!-- SPINNER -->
<div id="spinner"></div>


