<!--  <?php include JPATH_COMPONENT_ADMINISTRATOR.DS."views".DS."templates".DS."message_tips.html.php"; ?> -->

<!-- === MAIN APLICATION SECTION == -->
<div id="main">
	<table id="mobileApplications_list" class="mobileapps-grid"></table>
	<br/>
	<button id="addButton">ADD_APP</span></button>
</div>

<!-- === MENUS AND FIELDS SECTION == -->
<div id="menus">
	<a href="#" onclick="editApplications();">{{ 'admin.label.apps' | translate }}</a> &gt; {{ 'admin.label.menu' | translate }}
	<br/><br/>	
	
	<div id="accordion" class="ui-accordion ui-widget ui-helper-reset ui-corner-all" role="tablist">		 
	</div>	
	
	<br/>
	<button id="addMenuButton">{{ 'admin.button.addMenu' | translate }}</button>
</div>

<!-- CONFIRMATION DIALOG -->
<div id="dialog-confirm" class="dialog" title="{{ 'admin.dialog.title.remove' | translate }}">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 10px 0;"></span>{{ 'admin.dialog.removeApp1' | translate }}<br/>
    <span class="ui-state-error" style="float: left; margin: 0 3px 20px 20px;">{{ 'admin.dialog.removeApp2' | translate }}</span></p>
</div>

<!-- MENU CONFIRMATION DIALOG -->
<div id="dialog-confirm-menu" class="dialog" title="{{ 'admin.dialog.title.remove' | translate }}">
   	<p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>{{ 'admin.dialog.removeMenu' | translate }}</p>
</div>

<!-- FIELD CONFIRMATION DIALOG -->
<div id="dialog-confirm-field" class="dialog" title="{{ 'admin.dialog.title.remove' | translate }}">
   	<p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>{{ 'admin.dialog.removeField' | translate }}</p>
</div>

<!-- EDIT APPLICATION DIALOG -->
<div id="dialog-form" class="dialog-form">
	<p class="validateTips"></p>
	
    <form id="editForm">
    <fieldset>
        <label for="restName">{{ 'admin.dialog.application.label.restName' | translate }}</label>
        <input type="text" name="restName" id="restName" maxlength="20" class="text ui-widget-content ui-corner-all" />
        <label for="name">{{ 'admin.dialog.application.label.name' | translate }}</label>
        <input type="text" name="name" id="name" maxlength="100" class="text ui-widget-content ui-corner-all" />
        <label for="description">{{ 'admin.dialog.application.label.description' | translate }}</label>        
        <textarea name="description" id="description" maxlength="500" class="ui-widget ui-widget-content ui-corner-all"></textarea>
        <label for="main_locale">{{ 'admin.dialog.application.label.mainLocale' | translate }}</label>
        <select name="mainLocale" id="main_locale">        	
        </select>
        <label for="supported_locales">{{ 'admin.dialog.application.label.supportedLocales' | translate }}</label>               
		<div class="scroll-pane">
		</div>   
		<select name="supported_locales" id="supported_locales">
			<option ng-repeat="locale in vm.supportedLocales" value="{{locale}}">{{ 'locales.' + locale | translate }} [{{locale}}]</option>
        </select>
        <button id="addLocale" style="float: right">ADD_LOCALE</button>
        
        <input type="hidden" name="supportedLocales" id="h_supported_locales" />	
        <input type="hidden" name="applicationId" id="mobileApplicationId" />
    </fieldset>
    </form>
</div>

<!-- EDIT MENU DIALOG -->
<div id="dialog-form-menu" class="dialog-form">
	<p class="validateTips"></p>
	
    <form id="editFormMenu">
    <fieldset>
        <label for="menuRestName">{{ 'dialog.menu.label.id' | translate }}</label>
        <input type="text" name="menu[rest_name]" id="menuRestName" maxlength="20" class="text ui-widget-content ui-corner-all" />
        <label for="menuName">'MOBILEAPPS_VIEW_MOBILEAPPLICATIONS_FORM_LABEL_NAME'</label>
        <input type="text" name="menu[name]" id="menuName" maxlength="100" class="text ui-widget-content ui-corner-all" />
        <label for="menuDescription">'MOBILEAPPS_VIEW_TYPES_FORM_LABEL_DESCRIPTION'</label>
        <textarea name="menu[description]" id="menuDescription" maxlength="500" class="ui-widget ui-widget-content ui-corner-all"></textarea>    
        
        <input type="hidden" name="menu[mobileapps_application_application_id]" id="menuAppId"/>
        <input type="hidden" name="menu[mobileapps_menu_parent_id]" id="menuParentId"/>
        <input type="hidden" name="menu[mobileapps_menu_id]" id="menuId"/>
        <input type="hidden" name="menu[order]" id="menuOrder"/>    
    </fieldset>
    </form>
</div>

<!-- EDIT FIELD DIALOG -->
<div id="dialog-form-field" class="dialog-form small-select" title="'MOBILEAPPS_VIEW_FIELD_TITLE'">
	<p class="validateTips"></p>
	
    <form id="editFormField">
    <fieldset>
        <label for="fieldRestName">'MOBILEAPPS_VIEW_MOBILEAPPLICATIONS_FORM_LABEL_ID'</label>
        <input type="text" name="field[rest_name]" id="fieldRestName" maxlength="20" class="text ui-widget-content ui-corner-all" />
        <label for="fieldName">'MOBILEAPPS_VIEW_MOBILEAPPLICATIONS_FORM_LABEL_NAME'</label>
        <input type="text" name="field[name]" id="fieldName" maxlength="100" class="text ui-widget-content ui-corner-all" />
        <label for="fieldFrontpage" style="display: inline">'MOBILEAPPS_VIEW_FIELDS_FORM_LABEL_FRONTPAGE'</label>
        <input type="checkbox" name="field[frontpage]" id="fieldFrontpage" value="true" style="display: inline"></input>
        <label for="fieldLevel" style="margin: 10px 0 2px 0; display: block">'MOBILEAPPS_VIEW_FIELDS_FORM_LABEL_LEVEL'</label>
        <select name="field[level]" id="fieldLevel"></select> 
        <label for="fieldType">'MOBILEAPPS_VIEW_TYPES_FORM_LABEL_TYPE'</label>
        <select name="field[mobileapps_type_type_id]" id="fieldType"></select>
        <label for="fieldDescription" style="margin: 10px 0 2px 0;">'MOBILEAPPS_VIEW_TYPES_FORM_LABEL_DESCRIPTION'</label>
        <textarea name="field[description]" id="fieldDescription" maxlength="500" class="ui-widget ui-widget-content ui-corner-all"></textarea>    
        <label for="fieldExtras" style="margin: 10px 0 2px 0;">'MOBILEAPPS_VIEW_FIELDS_FORM_LABEL_EXTRAS'</label>
        <textarea name="field[extras]" id="fieldExtras" maxlength="5000" class="ui-widget ui-widget-content ui-corner-all"></textarea>    
        
        <input type="hidden" name="field[mobileapps_menu_menu_id]" id="fieldMenuId"/>
        <input type="hidden" name="field[mobileapps_field_id]" id="fieldId"/>
        <input type="hidden" name="field[order]" id="fieldOrder"/>    
    </fieldset>
    </form>
</div>


<!-- SPINNER -->
<div id="spinner"></div>


