<div class="alert alert-success alert-dismissible" role="alert" ng-show="vm.saved">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{ 'users.saved' | translate}}
</div>
<div class="alert alert-danger alert-dismissible" role="alert" ng-show="vm.error">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{ 'users.error' | translate}}
</div>

<form class="form-horizontal" role="form" ng-submit="vm.saveApplicationUsers()">
	<table class="table table-striped">
		<tr>
			<th>Nome</th>
			<th>Aplicações</th>
		</tr>
		<tr ng-repeat="user in vm.users">
			<td>
				{{user.name}}
			</td>
			<td>
				<div ng-repeat="application in vm.applications">
					<input type="checkbox" ng-model="vm.applications[$index].applicationUserIds[user.userId]"/> {{application.name}}
					<br/>
				</div>
			</td>
		</tr>
	</table>
	
	
	<button type="submit" class="btn btn-lg btn-primary">{{ 'btn.save' | translate}}</button>
</form>
