/** Application LESS variables **/

/** CSS Customizations */

/** MAIN BODY */
body {
	padding-top: 100px;
	padding-bottom: 30px;
}

/** NAVIGATION BAR */
.navbar-brand.main-logo {
	padding-top: 10px;
}
.navbar.navbar-inverse.navbar-fixed-top.navbar-transparent {
	background-color: transparent;
    border: none;
}



